<!--Container-->
<div id="content">

</div>
<!--End Container-->
@section Javascript
{
    <script src="@Url.Content("~/javascripts/vendor.js")" type="text/javascript" charset="utf-8"></script>
    @*<script src="@Url.Content("~/js/plugin/flot/jquery.flot.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/js/plugin/flot/jquery.flot.time.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/js/plugin/flot/jquery.flot.tooltip.js")" type="text/javascript" charset="utf-8"></script>
*@
    <script src="@Url.Content("~/js/smartwidgets/jarvis.widget.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/js/plugin/sparkline/jquery.sparkline.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/js/plugin/jquery-validate/jquery.validate.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/js/plugin/masked-input/jquery.maskedinput.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/js/plugin/select2/select2.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/js/plugin/bootstrap-slider/bootstrap-slider.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/js/plugin/msie-fix/jquery.mb.browser.min.js")" type="text/javascript" charset="utf-8"></script>
    
    <script src="@Url.Content("~/js/demo.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/js/app.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/javascripts/app.js")" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        require('initialize');
    </script>
}